.container {
  max-width: 80%;

  display: grid;
  grid-template-columns:
    [kiri] 1fr
    [tengah1] 1fr
    [tengah2] 1fr
    [kanan];
  grid-template-rows:
    [atas] 100px
    [tengah1] 100px
    [tengah2] 100px
    [bawah];

  gap: 10px;
}

.box {
  background-color: lightgray;
}

.span-row {
  grid-row-start: tengah1;
  grid-row-end: span 2;
}

.span-col {
  grid-column-start: tengah1;
  grid-column-end: span 2;
}
